.footer {
    background-color: $color-greyish;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 465px;
    @media (min-width: 768px) {
        height: 230px;
        flex-direction: row;
        padding-left: 150px;
        padding-top: 50px;
    }
    @media (min-width: 1200px) {
        padding-bottom: 50px;
        align-items: flex-start;
    }

    &__ul {
        color: $color-white;
        font-size: 1.4rem;
        font-family: $Roboto;
        list-style: none;
        order: 3;
        @media (min-width: 768px) {
            padding-right: 130px;
            order: 1;
        }
        &--heart{
            color: $color-orange;
    }
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        font-family: $Roboto;
        list-style: none;
        text-transform: uppercase;
        padding-bottom: 30px;
        @media (min-width: 768px) {
            padding-right: 130px;
            padding-bottom: 0px;
        }
        @media (min-width: 1200px) {
            align-items: flex-start;
        }
        &--li {
            padding-bottom: 15px;
            @media (min-width: 768px) {
                padding-bottom: 10px;
            }
        }
        &--a {
            color: $color-white;
            text-decoration: none;
        }
    }
    &__list1 {
        order: 1;
        @media (min-width: 1200px) {
            order: 2;
        }
    }
    &__list2 {
        order: 2;
        @media (min-width: 1200px) {
            order: 3;
        }
    }
    &__link {
        background-image: url(/images/ico-arrow.svg);
        background-repeat: no-repeat;
        background-color: $color-white;
        background-position: center;
        border-radius: 23px;
        width: 45px;
        height: 45px;
        position: absolute;
        margin-bottom: 470px;
        @media (min-width: 768px) {
            left: 380px;
            margin-bottom: 280px;
        }
        @media (min-width: 1200px) {
            left: 590px;
            margin-bottom: 230px;
        }
    }
}
