.footer {
    background-color: $color-greyish;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 465px;
    position: relative;
    
    @media (min-width: 768px) {
        height: 230px;
        flex-direction: row;
        gap: 120px;
    }
    @media (min-width: 1200px) {
        padding-bottom: 50px;
        align-items: flex-start;
    }

    &__ul {
        color: $color-white;
        font-size: 1.4rem;
        font-family: $Roboto;
        list-style: none;
        order: 3;
        @media (min-width: 768px) {
            order: 1;
        }
        &--heart{
            color: $color-orange;
    }
    }
    &__list {
        display: flex; /*Es necesario para poder tener el texto justificado en la versión móvil y alineado a la izquierda en la tablet.*/
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        font-family: $Roboto;
        list-style: none;
        text-transform: uppercase;
        padding-bottom: 30px;
        @media (min-width: 768px) {
            padding-bottom: 0px;
            align-items: flex-start;
        }
        @media (min-width: 1200px) {
            align-items: flex-start;
        }
        &--li {
            padding-bottom: 15px;
            @media (min-width: 768px) {
                padding-bottom: 10px;
            }
        }
        &--a {
            color: $color-white;
            text-decoration: none;
        }
    }
    &__list1 {
        order: 1;
        @media (min-width: 1200px) {
            order: 2;
        }
    }
    &__list2 {
        order: 2;
        @media (min-width: 1200px) {
            order: 3;
        }
    }
    &__link {
        background-image: url(/images/ico-arrow.svg);
        background-repeat: no-repeat;
        background-color: $color-white;
        background-position: center;
        border-radius: 23px;
        width: 45px;
        height: 45px;
        position: absolute;
        top: -22.5px;
        margin: auto;
        animation: 2s linear 0s infinite alternate link;
    }
}
@keyframes link {
    from {
        transform: translateX(5vh);
    }
    to {
        transform: translateX(-5vh);
    }
}