.header__link {
    background: url(/images/ico-menu.svg);
    background-color: $color-orange;
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    position: fixed;
    @media (max-width: 768px) {
        width: 35px;
        height: 35px;;
    }
}