.hero {
    background-image: url(/images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: left;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding-bottom: 35px;  
    @media (min-width: 768px) {
        background-size: 150%;
        padding-bottom: 45px;
    }
}
.hero__h1 {
    color: $color-white;
    text-transform: uppercase;
    font-size: 3.0rem;
    font-weight: bold;
    font-family: $RobotoSlab;
    padding: 20px;
    @media (min-width: 768px) {
        font-size: 7.5rem;
    }
}
.hero__p {
    color: $color-white;
    font-size: 1.6rem;
    padding: 0 50px;
    @media (min-width: 768px) {
        font-size: 2.4rem;
        padding: 0 100px;
    }
}
.hero__link {
    background-image: url(/images/ico-scroll-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    background-color: $color-white;
    border-radius: 23px;
    margin-top: 10px;
    @media (min-width: 768px) {
        width: 45px;
        height: 45px;
    }
}