.newYear {
    background-color: $color-white2;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 30px;
    row-gap: 40px;
    @media (min-width: 768px) {
        padding: 0 30px 40px 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 50px;
        padding: 30px 40px;
        row-gap: 40px;
    }
    &__h3 {
        font-family: $RobotoSlab;
        font-size: 2.0rem;
        grid-row: 1/2;
        @media (min-width: 768px) {
            font-size: 2.8rem;
            padding-top: 45px;
            grid-column: 1/4;
        }
        @media (min-width: 1200px) {
            font-size: 3.2rem;
        }
    }
    &__h4 {
        font-family: $RobotoSlab;
        font-size: 1.8rem;
        @media (min-width: 768px) {
            font-size: 2.4rem;
        }

    }
    &__p {
        font-family: $Roboto;
        font-size: 1.8rem;
        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }
    &__button {
        background-color: $color-orange;
        color: $color-white;
        font-family: $Roboto;
        border-radius: 22px;
        border: none;
        width: 185px;
        height: 45px;
        font-size: 2rem;
        grid-row: 5/6;
        margin: auto;
        @media (min-width: 768px) {
            grid-column: 2/3;
            grid-row: 3/4;
        }
    }
    &__button:hover  {
        transform: translateX(-20%) rotate(-20deg);
    }
    &__item1 {
        grid-row: 2/3;
        @media (min-width: 768px) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    &__item2 {
        grid-row: 3/4;
        @media (min-width: 768px) {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
    &__item3 {
        grid-row: 4/5;
        @media (min-width: 768px) {
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }
}