<footer class="footer">
    <a class="footer__link" href="link#home"></a>
    <ul class="footer__ul">
        <li class="footer__list--li">©2023</li>
        <li class="footer__list--li">we<i class="fa-solid fa-heart footer__ul--heart"></i>run</li>
    </ul>
    <ul class="footer__list footer__list1">
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Zapatillas</a></li>
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Ropa</a></li>
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Niño/a</a></li>
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Destacados</a></li>
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Tips</a></li>
    </ul>
    <ul class="footer__list footer__list2">
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Twitter</a></li>
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Instagram</a></li>
        <li class="footer__list--li"><a class="footer__list--a" href="https://adalab.es/" target="_blank">Youtube</a></li>
    </ul>
</footer>