<section class="newYear">
    <h3 class="newYear__h3">Año nuevo, movimientos nuevos</h3>
    <div class="newYear__item1">
        <h4 class="newYear__h4">Entrenamientos</h4>
        <p class="newYear__p">Sesiones de running y entrenamientos.</p>
    </div>
    <div class="newYear__item2">
        <h4 class="newYear__h4 item3">Cualquier nivel</h4>
        <p class="newYear__p item4">Entrenamientos para cada nivel.</p>
    </div>
    <div class="newYear__item3">
        <h4 class="newYear__h4 item5">Exclusividad</h4>
        <p class="newYear__p item6">Productos para miembros premium.</p>
    </div>
    <button class="newYear__button item4">Empezar ahora</button>
</section>